<!DOCTYPE html>
<html>
	<head>
        <title>4O4 - Error</title>
        <meta charset="utf-8">
    </head>
	<body>

		<h1>404</h1>
		<p> On dirai que cette page n'existe pas. Etes vous sur de l'url ?</p>

		<div class = "footer">
            <%- include('includes/footer') %>
        </div>
	</body>
</html>