<!doctype html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La page d'acceuil du site de Rome">
    <meta name="author" content="Rome">

    <title>RomeDev</title>
</head>

<body>
    <h1>Rome</h1>

    <a href="http://rome-dev.fr/drakebot">
        <button>DrakeBot</button>
     </a>
</body>
</html>