<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DrakeBot - Staff</title>
    <link rel="icon" type="image/ico" href="/img/logo.ico" />
    <link rel="stylesheet" type="text/css" href="/css/staff-design.css"/>   

    <meta name="description" content="DrakeBot est un bot discord de Moderation, d'Administration et d'Economie.">
    <meta name="author" content="Rome">
</head>
<body class="light">

    <div class="buttons">
        <label class="switch-theme">
            <input type="checkbox" id="switch" onclick="light()"/>
            <span class="slider round"></span>
        </label>
    </div>

    <div class="staff">
        <p>
            <h1>Owner: </h1>

            <h2>
                <a target="_blank" href=https://dsc.bio/romedev><%= owner.name %></a> 
            </h2>

            <h1>Support & Moderation: </h1>
            
            <h2>
                <a target="_blank" href=https://discord.com/users/<%= support[0].id %>><%= support[0].name %></a> (Support) <br>
            </h2>
        </p>
    </div>

    <div class = "center">
        <script src="/js/light.js"></script>
    </div>

    <div class = "footer">
        <%- include('includes/footer') %>
    </div> 
</body>
</html>